{% extends "index.twig" %}
{% block content %}
<div class="availble-cars-bg">

	<div class="container">
		<div class="row py-4">
			<div class="col-3 col-md-2">
				<div class="d-flex flex-column justify-content-start align-items-center car-filter px-2 py-3">
					<div class="car-filter-type fw-bold">
						Browse by car type
					</div>
					{% for type in cartypes %}
					<a href="/car-type/{{type.slug}}" class="text-decoration-none">
						<div class="d-flex flex-column align-items-center">
							<img src="{{ Image(type.image).src }}" alt="{{ Image(type.image).title }}"
								class="car-filter-img">
							<p class="car-filter-type">{{type.name}}</p>
						</div>
					</a>
					{% endfor %}
				</div>
			</div>
			<div class="col-9 col-md-10">
				<div class="row justify-content-around gx-3 gy-5" id="cars-listing-wrapper">

					{% for car in posts %}
					{% set specs = car.meta('specs') %}
					{% set brand = null %}
					{% for term in car.terms %}
					{% if term.taxonomy == "brand" %}
					{% set brand = term %}
					{% endif %}
					{% endfor %}
					<div class="col-12 col-sm-6  col-lg-4">
						{% include "components/home-featured-car.twig" %}
					</div>

					{% endfor %}

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}