{% block html_head_container %}

	{% include 'html-header.twig' %}
{% endblock %}

<!-- navbar -->
{% include "components/Header.twig" %}

{% block content %}
	Sorry, no content
{% endblock %}

{% block footer %}
	{% include 'footer.twig' %}
	{{ function('wp_footer') }}
{% endblock %}</body></html>
