{% extends "base.twig" %}


{% block content %}
	<div class="bg-dark">
		{{post.content}}
		{% if not carsAvailableNow is empty %}
			{% include "components/home-available-cars.twig" %}
		{% endif %}

		{% if not featuredCars is empty %}
			{% include "components/home-featured-cars.twig" %}
		{% endif %}

		<div class="bg-dark p-5 m-0 d-flex justify-content-center">
			<hr class="section-divider bg-dark p-0 m-0"/>
		</div>
		{% include "components/home-why-lemans.twig" %}

		{% if not cartypes is empty %}
			<div class="bg-dark p-5 m-0 d-flex justify-content-center">
				<hr class="section-divider bg-dark p-0 m-0"/>
			</div>
			{% include "components/home-car-types.twig" %}
		{% endif %}

		{% if not brands is empty %}
			{% include "components/home-brands.twig" %}
		{% endif %}
	</div>
{% endblock %}
