{% extends "base.twig" %}

{% block content %}


	{#<div>
			available now
		</div>
		{% for car in carsAvailableNow %}
			<div>
				{{car.name}}
			</div>
		{% endfor %}#}

	{% if not featuredCars is empty %}
		{% include "components/home-featured-cars.twig" %}
	{% endif %}

	{% if not cartypes is empty %}
		{% include "components/home-car-types.twig" %}
	{% endif %}

	{% if not brands is empty %}
		{% include "components/home-brands.twig" %}
	{% endif %}
{% endblock %}
