<div class="availble-cars-bg">

	<div class="container">
		<div class="row py-4 justify-content-center">

			<div class="col-12 col-md-2 ">

				<div class="swiper carListingSwipper car-filter mb-5 mb-md-0">
					<div class="car-filter-type fw-bold mt-3">
						Browse by car type
					</div>
					<div
						class="swiper-wrapper d-flex flex-row flex-md-column justify-content-start align-items-center  px-2 py-3">
						{% for type in cartypes %}

						<a href="/car-type/{{type.slug}}" class="text-decoration-none swiper-slide ">
							<div class="d-flex flex-column align-items-center">
								<img src="{{ Image(type.image).src }}" alt="{{ Image(type.image).title }}"
									class="car-filter-img pb-3">
								<p class="car-filter-type">{{type.name}}</p>
							</div>
						</a>

						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-9 col-md-10">
				<div class="row justify-content-around gx-3 gy-5" id="cars-listing-wrapper">

					{% for car in posts %}
					{% set specs = car.meta('specs') %}
					{% set brand = null %}
					{% for term in car.terms %}
					{% if term.taxonomy == "brand" %}
					{% set brand = term %}
					{% endif %}
					{% endfor %}
					<div class="col-12 col-lg-4">
						{% include "components/home-featured-car.twig" %}
					</div>

					{% endfor %}

				</div>
			</div>
		</div>
	</div>
</div>