<!-- popup -->
<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 col-md-6">
			<div class="success-bg d-flex flex-column align-items-center text-white rounded-2 py-4 px-1">
				<div class="success-img mb-3"><img src="{{ site.theme.link }}/static/thank-you.png" alt="" class="w-100"></div>
				<div>
					<div class="text-center fw-bold mb-2">Thank you for Contacting</div>
					<div class="success-paragraph mb-2">Our marketing team will be back to you
					</div>
				</div>
				<a class="success-btn mt-3" href="/">Home page</a>

			</div>
		</div>
	</div>
</div>
